<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  <a class="navbar-brand" href="#">Watch List</a>
  <%= button_to "Create a new list", new_list_path, :id => "create-new-list-btn", :method => :get %>
</nav>
<container style="padding: 30px">
  <div class="cards">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <%= list.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</container>
