<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  <a class="navbar-brand" href="#">Watch List</a>
  <%= button_to "Add a movie", new_list_bookmark_path(@list), :id => "add-movie-btn", :method => :get %>
</nav>

<% @list.bookmarks.each do |bookmark| %>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://picsum.photos/150/100" alt="movie poster">
    <div class="card-body">
      <p class="card-text">
        <%= bookmark.movie.title %>
      </p>
    </div>
  </div>
<% end %>
